@font-face { font-family: LemonMilk; src: url('assets/LemonMilk.otf'); }
@font-face { font-family: LemonMilk; font-weight: bold; src: url('assets/LemonMilkbold.otf'); }
@font-face { font-family: LemonMilk; font-weight: bold; font-style: italic; src: url('assets/LemonMilkbolditalic.otf'); }
@font-face { font-family: LemonMilk; font-style: italic; src: url('assets/LemonMilkitalic.otf'); }
@font-face { font-family: LemonMilk; font-weight: lighter; src: url('assets/LemonMilklight.otf'); }
@font-face { font-family: LemonMilk; font-weight: lighter; font-style: italic; src: url('assets/LemonMilklightitalic.otf'); }

body {
    margin: 1.5vw;
    background-color: #444444; 
    font-family: 'LemonMilk';
    color: #54defd;
}

a:link, a:visited, a:link:active, a:visited:active {
    color: unset;
    text-decoration-color: #3591a5;
}

h1 {
    font-size: 3vw;
    font-weight: bold;
    margin: 0;
}

h3 {
    font-size: 1.5vw;
    font-weight: bold;
    margin: 0;
}

h4 {
    font-size: 1.35vw;
    font-weight: bold;
    margin: 0;
}

h5 {
    font-size: 1.275vw;
    font-weight: bold;
    margin: 0;
}

section {
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    padding: 1.4vw 2.1vw 1.4vw 2.1vw;
    background-color: #272727;
}

ul li {
    color: white;
    font-size: 0.9vw;
}

ul {
    margin-top: 0.83vw;
    margin-bottom: 0.83vw;
    list-style: none;
    padding-left: 1.5vw;
}

ul li::before {
    content: "\2022";
    color: #54defd;
    font-weight: bold;
    display: inline-block; 
    width: 1.5vw;
    height: 1.5vw;
    margin-right: 0.3vw;
}


#myheader {
    min-height: 10.5vw;
}

#grupo {
    align-self: center;
    border-spacing: 0;
}

div.hbar {
    width: 100%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    border-top: 1px solid white;
    background-color: #272727; 
    box-sizing: border-box;
}

.container {
    
}

.parent {
    position: relative;
}

.child {
    position: absolute;
}

.person {
    background-image:url(assets/circle_white.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    transition: 600ms;
}

.person .avatar {
    display: block;
    margin-left: calc(1vw * 82 / 15);
    margin-right: calc(1vw * 82 / 15);
    height: 20vw;
    width: 20vw;
}

.person .hidden {
    opacity: 0;
}

.person:hover {
    transform: scale(1.2);
}

.person:hover .avatar   {
    opacity: 0.15;
}

.person:hover .hidden {
    opacity: 1;
}

.texto.size0 {
    font-size: 0.75vw;
}

.texto.size1 {
    font-size: 0.9vw;
}

.texto.size2 {
    font-size: 1.05vw;
}

.texto.size3 {
    font-size: 1.275vw;
}

.texto.size4 {
    font-size: 1.5vw;
}

.texto.black {
    color: black;
}

.texto.boldlite {
    font-weight: 501;
}

.texto.normal {
    font-weight: normal;
}

.texto.bold {
    font-weight: bold;
}

.texto.center {
    text-align: center;
}

.child.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.child.bottom {
    bottom: 9%;
}

.child.right {
    right: 1.5%;
}

.links-header {
    margin-top: 2.1vw;
    margin-bottom: 0;
}

.white {
    color: white;
}

a.fab {
    text-decoration: unset;
}

img.logo {
    width: auto;
    height: auto;
    max-width: 22vw;
    max-height: 4vw;
}